.dashboard-container {
  padding: 62px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-select {
  width: 100px;
  height: 30px;
  font-size: 12px;
  border-radius: 10px;
  margin-right: 12px;
  padding: 4px;
  border: solid 1px #ccc;
  color: #272a4b;
}

.search-input {
  width: 300px;
  height: 30px;
  border: solid 1px #ccc;
  color: #272a4b;
  font-size: 12px;
  border-radius: 10px;
  padding: 4px;
}

.pagination-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.pagination-info {
  font-size: 12px;
  color: #272a4b;
  margin-right: 12px;
}

.pagination-button {
  border: none;
  color: #272a4b;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.page-size-select {
  margin-left: 10px;
  border-radius: 6px;
  padding: 4px;
  border: solid 1px #ccc;
  color: #272a4b;
}

.comments-table {
  margin-top: 10px;
  border: solid 1px #e2e8f0;
  border-radius: 12px;
  overflow: hidden;
  min-width: 100%;
}

.table-header {
  background-color: #f9f9f9;
  color: #272a4b;
  font-weight: bold;
}

th,
td {
  padding: 14px 20px;
  text-align: left;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-left: none;
  border-right: none;
}
td {
  font-size: 14px;
  color: #272a4b;
}
th {
  background-color: #e8ebf0;
  color: #272a4b;
  font-size: 16px;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #272a4b;
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 12px;
  }
  .dashboard-header {
    display: flex;
    flex-direction: column-reverse;
  }
  .sort-select {
    width: 86px;
    margin-right: 21px;
  }
  .search-input {
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .dashboard-container {
    padding: 6px;
  }
}
